<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body style="background-color:hsl(224,30.3%,63.6%)">

<h1 style="text-align:left;font-size:150%;text-align:center;font-size:200%;color: hsl(300.3,61.5%,72.7%)">REGISTRATION FORM</h1>

<form style="text-align:left;font-size:150%" action="" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your username"><br>
      <input type="text" name="first_name" placeholder="Enter your firstname"><br>
      <input type="text" name="last_name" placeholder="Enter your lastname"><br>
      <input type="email" name="email" placeholder="Enter your email id"><br>
      <input type="password" name="password" placeholder="Enter your pasword"><br>
      <input type="password" name="password1" placeholder="Confirm your password"><br>
      <input type="submit">

</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>